.app-container {
    @include tablet {
        height: 100vh;
        @include grid(2, 0);
    }
    .img {
        height: 30rem;
        background-image: url(../img/1.webp);
        background-size: cover;
        background-position: center center;
        @include tablet {
            height: auto;
        }
    }
    .app {
        padding: $gap/2;
    }
}

.tabs {
    justify-content: space-between;
    gap: $gap/3;
    button {
        font-weight: $bold;
        border: none;
        width: 100%;
        padding: $gap/5 0; 
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: $blue;
            color: $white;
        }
    }
}

.section {
    display: none;
    margin-top: $gap/2;
}

.show-section {
    display: block !important;
}

.d-none {
    display: none;
}