.arrow-btn {
    margin-top: $gap/2;
    justify-content: space-between;
    
    button {
        border: none;
        background-color: $blue;
        color: $white;
        text-transform: uppercase;
        font-weight: $bold;
        padding: 1rem 4rem;

        &:hover {
            cursor: pointer;
        }

        &.hide {
            visibility: hidden;
        }
    }
}