.form {
    flex-direction: column;
    
    div {
        margin: $gap/5 0;
        gap: $gap/5;
        align-items: center;
    }

    input {
        height: $gap;
        padding: 0 $gap/5;
        overflow: hidden;
    }


    label {
        color: $white;
        width: $gap+1rem;
    }

    input {
        width: 100%;
        border: none;
        border-radius: $gap/5;
    }
}